body {
    font-family: Arial, sans-serif;
    background-color: #130f18;
    
    color: #333;
    margin: 0;
    padding: 0;
    /*background-image: url('/images/casino.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}


.login_ID {
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(50px);
    
}

h1 {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    border-bottom: 4px solid #000000;
    padding-bottom: 10px;
}

.logo {
    /*background-image: url('/images/logo_casino.png');*/
    width: 120px;
    margin-top: 8px;
    display: block;
    margin: 0 auto;
}

.container {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #080101; /* Cambia este valor al color deseado para el texto del contenedor */
}

form {
    display: flex;
    flex-direction: column;

}

.form-group {
    margin-bottom: 15px;
}

label {
    align-self: flex-end;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #720816;
    color: #070101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #550631;
}

#Mensajes-de-error {
    color: red;
    margin-bottom: 15px;
}